.image__container {
  position: relative;
  margin-bottom: 2rem;
}

.image__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
