.image__container {
  position: relative;
  margin-bottom: 2rem;
}

.image__text {
  position: absolute;
  top: 17rem;
  left: -35rem;
  right: 0;
  width: 100%;
  text-align: center;
}

h2 {
  color: #fff;
  font-size: 6rem;
}
