h2 {
  font-weight: 900;
  font-size: 2.4rem;
  color: #111;
}

.partners {
  max-width: 132rem;
  margin: 0 auto;
}

.partners__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  gap: 2rem;
  margin-bottom: 5rem;
}
